# Lines starting with '#' are comments.(<- # 列はコメント！)
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# (全ファイルを特定のユーザチェック必須にするには以下のように書きます。)
# (*だけで全ファイルを意味します)
# *       @nomunomu0504

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# (特定のファイルのみを特定のユーザチェック必須にするには以下のように書きます。)
# .js    @octocat @github/js

# You can also use email addresses if you prefer.
# (特定のフォルダのファイル指定も可能です。ユーザーはメールアドレスでもOK)
# docs/*  docs@example.com